/*generals*/
body{
    background-color: white;
}
h1,h2,h3,h4{
    font-family: 'Shrikhand', cursive; 
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
/*header*/
.logo{
    text-align: center;
    font-size: 40px;
        & a{
            text-decoration: none;
            color: #99E2D0;
            margin-top: 30px;
            margin-left: 20px;
            float: left;
        }    
}
.findus{
    display: flex;
    justify-content: center;
    background-color: rgba(199, 199, 199, 0.274);
    box-shadow: inset 0px 10px 4px -3px #c7c7c776;
    margin-top: -50px;
    align-items: center;
        & p{
            font-weight: 500;
            font-size: 40px;
        }
}
.marker{
padding-right: 20px;
}
/*section header*/
.slogan{
    background-color: rgba(221, 221, 221, 0.219);
    text-align: center;
        & .btn{
            margin-top: 50px;
            margin-bottom: 100px;
            color: white;
            background: rgb(255,121,218);
            background: linear-gradient(175deg, rgba(255,121,218,1) 6%, rgba(147,86,220,1) 75%);
            border-radius: 50px;
            padding: 30px;
            font-size: 40px;
            border: none;
            box-shadow: 0px 8px 12px 0px #c7c7c7;
                &:hover{
                    background: linear-gradient(175deg, rgba(255, 121, 217, 0.749) 6%, rgba(146, 86, 220, 0.749) 75%);
                }
        }
        
}
.sloganTitle{
    padding-top: 20px;
    & p{
        font-family: 'roboto', sans-serif;
        font-size: 40px;
        font-weight: 800;
        text-shadow: 1px 1px 1px black;
        
    }
}
.sloganText p{
    color: rgb(107, 107, 107);
}
/*main*/
.operation h2{
    padding: 40px;
}
/*filter box*/

  
.filter1{
    margin: 50px;
    padding: 20px;
    background-color: rgba(221, 221, 221, 0.219);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 12px 0px #c7c7c776;
    
    & p{
        font-size: 40px;
        font-weight: bolder;
    }
    & .icomobile{
        padding-right: 50px;
        color:grey;
    }
    & span{
        position: absolute;
        margin-right: 850px;
    }
    & span p{
    font-size: 30px;
        background-color: #9356DC ;
        border: 1px solid #9356DC ;
        border-radius: 50%;
        padding:10px 20px;
        color: white;
    }
    &:hover{
        background-color: #9256dc1c;
    }

}
.filter2{
    margin: 50px;
    padding: 20px;
    background-color: rgba(221, 221, 221, 0.219);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 12px 0px #c7c7c776;
    & p{
        font-size: 40px;
        font-weight: bolder;
    }
    & .icolist{
        
        padding-right: 50px;
        color:grey;
    }
    & span{
        position: absolute;
        margin-right: 850px;
    }
    & span p{
        font-size: 30px;
        background-color: #9356DC ;
        border: 1px solid #9356DC ;
        border-radius: 50%;
        padding:10px 20px;
        color: white;
    }
    &:hover{
        background-color: #9256dc1c;
    }
}
.filter3{
    margin: 50px;
    padding: 20px;
    background-color: rgba(221, 221, 221, 0.219);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 12px 0px #c7c7c776;
    & p{
        font-size: 40px;
        font-weight: bolder;
    }
    & .icoshop{
        
        padding-right: 50px;
        color: #9356DC;
    }
    & span{
        position: absolute;
        margin-right: 850px;
    }
    & span p{
        font-size: 30px;
        background-color: #9356DC ;
        border: 1px solid #9356DC ;
        border-radius: 50%;
        padding:10px 20px;
        color: white;
    }
    &:hover{
        background-color: #9256dc1c;
    }
}
/*main section restaurants*/
.Restaurants{
    background-color: rgba(199, 199, 199, 0.274);
        & h2{
            padding: 40px;
        }
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 0px;
    grid-template-areas:
      "palette"
      "note"
      "française"
      "delice";
  }
  
  .palette { grid-area: palette; }
  
  .note { grid-area: note; }
  
  .française { grid-area: française; }
  
  .delice { grid-area: delice; }
  .full{
    visibility: hidden;
    color: #9356DC;
    
}
.grid-container a{
    text-decoration: none;
    color: black;
}
/*like effect*/
@keyframes full{
    
    0%{
        
        transform: scaleY(0);
    }
    
    100%{
        transform: scaleY(1);
    }
}
.like {
    &:hover +.full{
        visibility: visible;
        animation: full 1000ms;
        transform-origin: 50% 90%;
        
        
    }
}

.card{
    margin: 30px;
    & img{
        width: 100%;
        height: 600px;
        border-radius: 50px 50px 0px 0px;
    }
    & .card-infos{
        background-color: white;
        margin-top: -30px;
        border-radius: 0px 0px 50px 50px;
        padding: 20px;
    }
    & .like{
        position: absolute;
        margin-left: 750px;
        margin-top: -150px;
            
    }
    
}
.new{
    color:green;
    background-color: #99E2D0;
    padding: 0px 30px;
    position: absolute;
    margin-top: 20px;
    margin-left: 700px;
    z-index: 1;
    border-radius: 5px;
    
}
/*main restaurant's page menu*/
.img-restaurant{
    width: 100%;
    position: relative;
    z-index: 0;
}
.main-menu{
    background-color: rgb(243, 243, 243);
    border-radius: 80px 80px 0 0;
    margin-top: -130px;
    position: relative;
    z-index: 1;
        & h2{
            font-size: 60px;
            display: flex;
            padding: 50px;
        }
        & .btn{
            padding: 30px 60px;
        } 
        & .like{
            position: absolute;
            margin-top: -170px;
            margin-left: 300px;
        }
}
.spacetopgrid{
    margin-top: -80px;
}
.menu-part{
    
    padding-left: 60px;
    text-align: start;
    & .part{
        text-transform: uppercase;
        font-size: 40px;
    }
}
    
.underline{
border-bottom: 5px solid #99E2D0;
width: 100px;
margin-top: -30px;
}
.card-menu{
    margin: 30px;
    background-color: white;
    border-radius: 50px;
    text-align: start;
    padding: 20px;
    & .card-item{
        margin-top: -20px;
        display: flex;
        justify-content: space-between;
        & .price{
            margin-right: 30px;
        }
    }
}



/*footer*/
footer{
    color: white;
    margin-top: -20px;
    background-color: rgb(59, 59, 59);
    padding: 50px;
    & a{
        text-decoration: none;
        color: white;
        
    }
}
.icofooter{
    
    float: left;
    margin-right: 30px;
}
.linkfooter ul{
    list-style: none;  
}
.mailto{
    font-family: 'Roboto', sans-serif; 
    font-size: 30px;
}


