@charset "UTF-8";
/*generals*/
body {
  background-color: white;
}

h1, h2, h3, h4 {
  font-family: "Shrikhand", cursive;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

/*header*/
.logo {
  text-align: center;
  font-size: 40px;
}

.findus {
  display: flex;
  justify-content: center;
  background-color: rgba(199, 199, 199, 0.274);
  box-shadow: inset 0px 10px 4px -3px #c7c7c776;
  margin-top: -50px;
  align-items: center;
}
.findus p {
  font-weight: 500;
  font-size: 40px;
}

.marker {
  padding-right: 20px;
}

/*section header*/
.slogan {
  background-color: rgba(221, 221, 221, 0.219);
  text-align: center;
}
.slogan .btn {
  margin-top: 50px;
  margin-bottom: 100px;
  color: white;
  background: #ff79da;
  background: linear-gradient(175deg, #ff79da 6%, #9356dc 75%);
  border-radius: 50px;
  padding: 30px;
  font-size: 40px;
  border: none;
  box-shadow: 0px 8px 12px 0px #c7c7c7;
}
.slogan .btn:hover {
  background: linear-gradient(175deg, rgba(255, 121, 217, 0.749) 6%, rgba(146, 86, 220, 0.749) 75%);
}

.sloganTitle {
  padding-top: 20px;
}
.sloganTitle p {
  font-family: "roboto", sans-serif;
  font-size: 40px;
  font-weight: 800;
  text-shadow: 1px 1px 1px black;
}

.sloganText p {
  color: #6b6b6b;
}

/*main*/
.operation h2 {
  padding: 40px;
}

/*filter box*/
.filter1 {
  margin: 50px;
  padding: 20px;
  background-color: rgba(221, 221, 221, 0.219);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 12px 0px #c7c7c776;
}
.filter1 p {
  font-size: 40px;
  font-weight: bolder;
}
.filter1 .icomobile {
  padding-right: 50px;
  color: grey;
}
.filter1 span {
  position: absolute;
  margin-right: 850px;
}
.filter1 span p {
  font-size: 30px;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 50%;
  padding: 10px 20px;
  color: white;
}
.filter1:hover {
  background-color: #9256dc1c;
}

.filter2 {
  margin: 50px;
  padding: 20px;
  background-color: rgba(221, 221, 221, 0.219);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 12px 0px #c7c7c776;
}
.filter2 p {
  font-size: 40px;
  font-weight: bolder;
}
.filter2 .icolist {
  padding-right: 50px;
  color: grey;
}
.filter2 span {
  position: absolute;
  margin-right: 850px;
}
.filter2 span p {
  font-size: 30px;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 50%;
  padding: 10px 20px;
  color: white;
}
.filter2:hover {
  background-color: #9256dc1c;
}

.filter3 {
  margin: 50px;
  padding: 20px;
  background-color: rgba(221, 221, 221, 0.219);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 12px 0px #c7c7c776;
}
.filter3 p {
  font-size: 40px;
  font-weight: bolder;
}
.filter3 .icoshop {
  padding-right: 50px;
  color: #9356DC;
}
.filter3 span {
  position: absolute;
  margin-right: 850px;
}
.filter3 span p {
  font-size: 30px;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 50%;
  padding: 10px 20px;
  color: white;
}
.filter3:hover {
  background-color: #9256dc1c;
}

/*main section restaurants*/
.Restaurants {
  background-color: rgba(199, 199, 199, 0.274);
}
.Restaurants h2 {
  padding: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px 0px;
  grid-template-areas: "palette" "note" "française" "delice";
}

.palette {
  grid-area: palette;
}

.note {
  grid-area: note;
}

.française {
  grid-area: française;
}

.delice {
  grid-area: delice;
}

.card {
  margin: 30px;
}
.card img {
  width: 100%;
  height: 600px;
  border-radius: 50px 50px 0px 0px;
}
.card .card-infos {
  background-color: white;
  margin-top: -30px;
  border-radius: 0px 0px 50px 50px;
  padding: 20px;
}
.card .like {
  position: absolute;
  margin-left: 750px;
  margin-top: -150px;
}
.card .like:hover {
  color: #9356DC;
}

/*footer*/

/*# sourceMappingURL=style.css.map */
