@charset "UTF-8";
/*generals*/
body {
  background-color: white;
}

/*loader home page*/
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 1s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader .loader-container {
  display: flex;
  width: 5rem;
  justify-content: space-between;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.loader-item {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  animation: jump 1s;
  animation-iteration-count: 1;
}

.loaditem_1 {
  background-color: #9356DC;
}

.loaditem_2 {
  background-color: #99E2D0;
  animation-delay: 200ms;
  transition-delay: 400ms;
}

.loaditem_3 {
  background-color: #FF79DA;
  animation-delay: 400ms;
  transition-delay: 600ms;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
h1, h2, h3, h4 {
  font-family: "Shrikhand", cursive;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

/*header*/
.logo {
  text-align: center;
  font-size: 40px;
}
.logo a {
  text-decoration: none;
  color: #99E2D0;
  margin-top: 30px;
  margin-left: 20px;
  float: left;
}

.findus {
  display: flex;
  justify-content: center;
  background-color: rgba(199, 199, 199, 0.274);
  box-shadow: inset 0px 10px 4px -3px #c7c7c776;
  margin-top: -50px;
  align-items: center;
}
.findus p {
  font-weight: 500;
  font-size: 40px;
}

.marker {
  padding-right: 20px;
}

/*section header*/
.slogan {
  background-color: rgba(221, 221, 221, 0.219);
  text-align: center;
}
.slogan .btn {
  margin-top: 50px;
  margin-bottom: 100px;
  color: white;
  background: #ff79da;
  background: linear-gradient(175deg, #ff79da 6%, #9356dc 75%);
  border-radius: 50px;
  padding: 30px;
  font-size: 40px;
  border: none;
  box-shadow: 0px 8px 12px 0px #c7c7c7;
}
.slogan .btn:hover {
  background: linear-gradient(175deg, rgba(255, 121, 217, 0.749) 6%, rgba(146, 86, 220, 0.749) 75%);
}

.sloganTitle {
  padding-top: 20px;
}
.sloganTitle p {
  font-family: "roboto", sans-serif;
  font-size: 40px;
  font-weight: 800;
  text-shadow: 1px 1px 1px black;
}

.sloganText p {
  color: #6b6b6b;
}

/*main*/
.operation h2 {
  padding: 40px;
}

/*filter box*/
.filter1 {
  margin: 50px;
  padding: 20px;
  background-color: rgba(221, 221, 221, 0.219);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 12px 0px #c7c7c776;
}
.filter1 p {
  font-size: 40px;
  font-weight: bolder;
}
.filter1 .icomobile {
  padding-right: 50px;
  color: grey;
}
.filter1:hover {
  background-color: #9256dc1c;
}

.num {
  position: absolute;
  margin-right: 850px;
}

.num p {
  font-size: 30px;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 50%;
  padding: 10px 20px;
  color: white;
}

.filter2 {
  margin: 50px;
  padding: 20px;
  background-color: rgba(221, 221, 221, 0.219);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 12px 0px #c7c7c776;
}
.filter2 p {
  font-size: 40px;
  font-weight: bolder;
}
.filter2 .icolist {
  padding-right: 50px;
  color: grey;
}
.filter2 .num {
  position: absolute;
  margin-right: 850px;
}
.filter2 .num p {
  font-size: 30px;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 50%;
  padding: 10px 20px;
  color: white;
}
.filter2:hover {
  background-color: #9256dc1c;
}

.filter3 {
  margin: 50px;
  padding: 20px;
  background-color: rgba(221, 221, 221, 0.219);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 12px 0px #c7c7c776;
}
.filter3 p {
  font-size: 40px;
  font-weight: bolder;
}
.filter3 .icoshop {
  padding-right: 50px;
  color: #9356DC;
}
.filter3 .num {
  position: absolute;
  margin-right: 850px;
}
.filter3 .num p {
  font-size: 30px;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 50%;
  padding: 10px 20px;
  color: white;
}
.filter3:hover {
  background-color: #9256dc1c;
}

/*main section restaurants*/
.Restaurants {
  background-color: rgba(199, 199, 199, 0.274);
}
.Restaurants h2 {
  padding: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px 0px;
  grid-template-areas: "palette" "note" "française" "delice";
}

.palette {
  grid-area: palette;
}

.note {
  grid-area: note;
}

.française {
  grid-area: française;
}

.delice {
  grid-area: delice;
}

.full {
  visibility: hidden;
  color: #9356DC;
}

.grid-container a {
  text-decoration: none;
  color: black;
}

/*like effect*/
@keyframes full {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.like:hover + .full {
  visibility: visible;
  animation: full 700ms;
  transform-origin: 50% 90%;
}

.card {
  margin: 30px;
  /*desktop margin heart icon*/
  /* */
}
.card img {
  width: 100%;
  height: 600px;
  border-radius: 50px 50px 0px 0px;
}
.card .card-infos {
  background-color: white;
  margin-top: -30px;
  border-radius: 0px 0px 50px 50px;
  padding: 20px;
  box-shadow: 1px 1px 20px 1px rgba(164, 159, 159, 0.2);
}
@media only screen and (min-width: 900px) {
  .card .card-infos i {
    padding-top: 50px;
  }
}
.card .like {
  position: absolute;
  margin-left: 750px;
  margin-top: -150px;
}

.new {
  color: green;
  background-color: #99E2D0;
  padding: 0px 30px;
  position: absolute;
  margin-top: 20px;
  margin-left: 700px;
  z-index: 1;
  border-radius: 5px;
}

/*main restaurant's page menu*/
.img-restaurant {
  width: 100%;
  position: relative;
  z-index: 0;
}

.main-menu {
  background-color: #f3f3f3;
  border-radius: 80px 80px 0 0;
  margin-top: -130px;
  position: relative;
  z-index: 1;
}
.main-menu h2 {
  font-size: 60px;
  display: flex;
  padding: 50px;
}
.main-menu .btn {
  padding: 30px 60px;
}
.main-menu .like {
  position: absolute;
  margin-top: -170px;
  margin-left: 300px;
}

.spacetopgrid {
  margin-top: -80px;
}

.menu-part {
  padding-left: 60px;
  text-align: start;
}
.menu-part .part {
  text-transform: uppercase;
  font-size: 40px;
}

.underline {
  border-bottom: 5px solid #99E2D0;
  width: 100px;
  margin-top: -30px;
}

/*animations cascade*/
.anim1 {
  animation-name: anim1;
  animation-duration: 2s;
  animation-delay: 50ms;
}
@keyframes anim1 {
  from {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  to {
    opacity: 1;
    transform: translate(0px, 0%);
  }
}

.anim2 {
  animation-name: anim2;
  animation-duration: 2s;
  animation-delay: 250ms;
}
@keyframes anim2 {
  from {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  to {
    opacity: 1;
    transform: translate(0px, 0%);
  }
}

.anim3 {
  animation-name: anim3;
  animation-duration: 2s;
  animation-delay: 450ms;
}
@keyframes anim3 {
  from {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  to {
    opacity: 1;
    transform: translate(0px, 0%);
  }
}

.anim4 {
  animation-name: anim4;
  animation-duration: 2s;
  animation-delay: 650ms;
}
@keyframes anim4 {
  from {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  to {
    opacity: 1;
    transform: translate(0px, 0%);
  }
}

/*end animation*/
.card-menu {
  margin: 30px;
  background-color: white;
  border-radius: 50px;
  text-align: start;
  padding: 20px;
  overflow: hidden;
  /*sliders desktop rules margin*/
}
.card-menu h3 {
  margin-bottom: -10px;
  font-size: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 600px;
}
.card-menu .card-item {
  margin-top: -20px;
  display: flex;
  justify-content: space-between;
}
.card-menu .card-item .price {
  font-weight: 600;
  position: absolute;
  z-index: 1;
  right: 0;
  left: 800px;
}
.card-menu .menu-slide {
  background-color: #99E2D0;
  text-align: center;
  color: white;
  padding: 20px;
  width: 20%;
  border-radius: 0 50px 50px 0;
  transition-duration: 0.8s;
  margin: -1rem -20rem -1rem -1rem;
  z-index: 1;
}
.card-menu .menu-slide .circle {
  transform: rotate(360deg);
}
@media only screen and (min-width: 900px) {
  .card-menu .menu-slide {
    margin: -1rem -30rem -1rem -1rem;
  }
}

p.card-ingredient {
  width: 600px;
  font-size: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-menu:hover .menu-slide {
  margin: -6.6rem -1.3rem -1.3rem -1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-menu:hover .menu-slide .circle {
  transform: rotate(0);
  transition-duration: 1.3s;
}
.card-menu:hover .price {
  animation-name: slidin;
  animation-fill-mode: forwards;
  animation-duration: 1.1s;
}
@keyframes slidin {
  from {
    left: 800px;
  }
  to {
    left: 650px;
  }
}
.card-menu:hover .card-ingredient {
  overflow: hidden;
}
.card-menu:hover h3 {
  overflow: hidden;
}

/*footer*/
footer {
  color: white;
  margin-top: -20px;
  background-color: #3b3b3b;
  padding: 50px;
}
footer a {
  text-decoration: none;
  color: white;
}

.icofooter {
  float: left;
  margin-right: 30px;
}

.linkfooter ul {
  list-style: none;
}

.mailto {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

/* adaptation viewport*/
/*@media only screen and (max-width: 940px){

}*/

/*# sourceMappingURL=style.css.map */
